body{
    background-color: #121212;
}

nav{
    background-color: rgba(18, 18, 18, 0.8);
}

.projects-card-color{
    background-color: #1e1e1e;
}

@keyframes tilt{
    0%, 100% {transform: rotate(0deg);}
    20% {transform: rotate(-4deg);}
    40% {transform: rotate(4deg);}
    60% {transform: rotate(-4deg);}
    80% {transform: rotate(4deg);}
}

.about-item-effect{
    transition: background-color 0.3s ease, font-weight 0.3s ease, transform 0.4s ease;
}

.about-item-effect:hover{
    background-color: #ff6467;
    animation: tilt 0.4s ease-in-out;
    font-weight: bold;
}